<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Links for Users</title>
</head>
<body>

<main>
    <h1>Choose a Link:</h1>
    <ul>
        <li><a href="/holiday">Holiday</a></li>
        <li><a href="/form">Form</a></li>
        <li><a href="/find">Find</a></li>
        <li><a href="/getRecordDetail">Get Record details</a></li>
        <li><a href="/getAllAppliedLeaveList">Get All Applied Leave List</a></li>
        <li><a href="/leaveBalance">Leave Balance</a></li>
        <li><a href="/cancelLeave">Cancel Leave</a></li>
        <li><a href="/callApi">Call Api</a></li>
        <li><a href="/leave">Leave</a></li>
        <li><a href="/callApi">Call Api</a></li>
        <li><a href="/leave">Leave</a></li>
        <li><a href="/apply">Apply Leave</a></li>
        <li><a href="/next_holiday">Next Upcoming Holiday</a></li>
<!--        <li><a href="/report">Report</a></li>-->
        <!-- Add more links as needed -->
    </ul>

</main>
</body>
</html>